html {
    font-size: 16px;
}
body {
    background-color: #1f0454;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    color: white;
}
main {
    display: flex;
    flex-direction: row;
    background-color: #1f0454;
    justify-content: space-evenly;
    /* padding: 0rem 10rem; */
    align-items: center;

}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #1a1a1a;
    text-align: center;
}
p {
    font-family: Arial, sans-serif;
    color: white;
    margin: 0.5rem 0;
}

button {
    background: #2b2b2b;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    min-width: 2.5rem;
    margin: 5px;
    font-weight: bold;
    height: 2rem;
}

button:hover {
    background: #04c6cd;
    transform: scale(1.1);
    border-width: 1;
}

input {
    text-align: center;
}


.pane {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 15rem;
    max-height: 30rem;

    padding: 1rem;

    border: 2px solid lightgray;
    border-radius: 5rem;

    background: #1a1a1a;
}

.remote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 12rem;
    max-height: 30rem;
    
    padding: 1rem;

    border: 2px solid lightgray;
    border-radius: 5rem;

    background: #1a1a1a;
}

/* .remote-buttons {
    classified to select in JS and send commands based on ID
} */

.two-row-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.three-row-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.center-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    
    border: 1px solid lightgray;
    border-radius: 3rem;
}

.direction-buttons {
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
}

.ok-button {
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 50%;
}



.keyboard-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 10px;
}
#keyboard-input {
    width: 6rem;
    display: flex;
    font-size: 16px;
    margin: 5px;

    border-radius: 5px;
    border: 1px solid #ccc;
}
#keyboard-clear {
    /* width: 35%; */
    justify-content: center;
}

.info-panel {
    width: 20rem;
    background: #1a1a1a;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid lightgray;
    border-radius: 80px;
    padding: 1rem;
    text-align: center;
}

.scanner-panel {
    width: 20rem;
    background: #1a1a1a;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid lightgray;
    border-radius: 80px;
}

.ip-row {
    display: flex;
    max-width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: .5rem;
}

.ip-input {
    width: 2rem;
    text-align: center;
    margin: 0 .1rem;
    background: #2b2b2b;
    color: white;
}